<app-header></app-header>
<!-- <table class="table mt-2">
  <thead class="table-dark">
    <tr>
      <th class="table-active">
        Name
       </th>
       <th class="table-active">
         Address
        </th>
        <th class="table-active">
         Phone number 
        </th>
        <th class="table-active">
      Email
        </th>
    </tr>
    
  </thead>
  <tbody>
    <tr>
      <td>gehad</td>
      <td>Zifta</td>
      <td>01211580373</td>
      <td>gehad&#64;gmail.com </td>
 
  </tr>
  <tr>
      <td>selia</td>
      <td>zifta</td>
      <td>01211580373</td>
      <td>gehad&#64;gmail.com </td>
      
  </tr>
  </tbody>
</table>
<div class="container">
<app-core (servercreated)="AddServer($event)"
 (blueprintcreated)="AddBluePrint($event)" 
 >
 </app-core>
<div class=" m-3" style="width: 18rem;">
  <app-server-element *ngFor="let element of serverElement" [element]="element"></app-server-element>
 
   
 
</div>
</div> -->
<!------------------------------------------------------->
<!-- <div class="container mt-3 ">
<app-add-product (newItem)="AddProductToList($event)"></app-add-product>
</div>
<br>
<br>

<section class="section-products mt-3">
  <div class="container">
<app-products *ngFor=" let productElement of  productList" [product]="productElement"></app-products>
</div>
</section> -->
<button class="btn m-3" style="background-color: brown; color: white;" (click)="GetRandamDescription()"> Randam Meal Description</button>
<div class="card-container">
<app-meals *ngFor=" let meal of meals" [meal]="meal">
  <img  [src]="meal.image" alt="Avatar" >
</app-meals>
</div>
<!--------------------------------------------------->
<!-- <app-footer></app-footer> -->