<app-header></app-header>
<table class="table mt-2">
  <thead class="table-dark">
    <tr>
      <th class="table-active">
        Name
       </th>
       <th class="table-active">
         Address
        </th>
        <th class="table-active">
         Phone number 
        </th>
        <th class="table-active">
      Email
        </th>
    </tr>
    
  </thead>
  <tbody>
    <tr>
      <td>gehad</td>
      <td>Zifta</td>
      <td>01211580373</td>
      <td>gehad&#64;gmail.com </td>
 
  </tr>
  <tr>
      <td>selia</td>
      <td>zifta</td>
      <td>01211580373</td>
      <td>gehad&#64;gmail.com </td>
      
  </tr>
  </tbody>
</table>
<app-footer></app-footer>