<div class="row m-3 p-1" style="border: 2px solid gainsboro;">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3" >
                            <div id="product-1" class="single-product">
                                <div class="part-1">
                                    <img src="../../../assets/images/{{product.Image}}"/>
                            </div>
                                    <div class="part-2">
                                            <h3 class="product-title">{{product.Name}}</h3>
                                            <h4 class="product-price">{{product.Price}}</h4> <br>
                                            <span>{{product.Description}}</span>
                                    </div>
                            </div>
                    </div>
                  
</div>   

